body {
    background: url('comp.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial;    
}

header h1 {
    color: aqua;
    text-align: center;
}

nav ul  {
    list-style: none;
    padding: 0;
    justify-content: center;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 15px;
}
nav ul li a {
    color: aliceblue;
    text-decoration: solid;
}
nav ul li a:hover {
    text-overflow: 100px;
    color: aqua;
}

main {
    color: aliceblue;
}